{% extends "base.html" %}
    




{% block navbar %}

<nav>
    <span class="padlock"></span>
    <a href="{% url 'index' %}" class="button">home</a>
    <a href="{% url 'logout' %}" class="button">Deslogar</a>
    
</nav>
{%endblock%}


{% block content %}
<h2>Suas Senhas</h2>

<div class="password-list">
    {% for password in passwords %}
    <div class="password-item">
        <h3>{{ password.title }}</h3>
        <p>Senha: {{ password.password }}</p>
        <p>Criado em: {{ password.created_at|date:"d/m/Y H:i" }}</p>
    </div>
    {% endfor %}
</div>

<h4>Adicionar Nova Senha</h4>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Adicionar Senha</button>
</form>


{% endblock %}