<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Email Ver{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>



<body>
    {% block navbar %}
    <nav>
        <span class="padlock"></span>
        <a href="#">Securevault</a>
        <a href="{% url 'index' %}" class="button">home</a>
        <a href="{% url 'register' %}">Registre-se!"</a>
        
    </nav>
    {%endblock%}



    {% block content %}
    
    {% endblock %}
</body>
</html>